<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Sign up</h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <p class="help-block">
              <% if @validatable %>
              (<%= @minimum_password_length %> characters minimum)
              <% end %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :city, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>

        <% if resource.class == User %>
        <div class="form-group">
          <%= f.label :birthday, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.date_field :dob, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :occassion, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.check_box :everyday, class: "form-control" %>everyday
            <%= f.check_box :work, class: "form-control" %>work
            <%= f.check_box :night, class: "form-control" %>night
          </div>
        </div>

        <div class="form-group">
          <%= f.label :style, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.check_box :necklace_style_1, class: "form-control" %>trendy
            <%= f.check_box :necklace_style_2, class: "form-control" %>classic
            <%= f.check_box :necklace_style_3, class: "form-control" %>statement
            <%= f.check_box :necklace_style_4, class: "form-control" %>simple
          </div>
        </div>

        <div class="form-group">
          <%= f.label :metal, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.check_box :gold, class: "form-control" %>gold
            <%= f.check_box :silver, class: "form-control" %>silver
          </div>
        </div>
        <% end %>

        <% if resource.class == Designer %>

        <div class="form-group">
          <%= f.label :company, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :company, class: "form-control" %>
          </div>
        </div>

        <% end %>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
