<div class="page-header">
  <h1>
    <small>
    Your Favorited Pieces:
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Designer</th>
        <th>Occassion</th>
        <th>Style</th>
        <th>Metal</th>
        <th>Price</th>
        <th>Description</th>
        <%if current_user.present?%>
        <th>Favorite</th>
        <%end%>
        <th></th>
      </tr>

      <% @pieces.each do |piece| %>
      <tr>
        <td><img src="<%= piece.image %>" width="80"></td>
        <td><%= piece.title %></td>
        <td><%= piece.designer.name %></td>
        <td>
          <% if piece.work == true %>
            Work
          <% end %>
          <% if piece.everyday == true %>
            Everyday
          <% end %>
          <% if piece.night == true %>
            Night
          <% end %></td>
        <td>
          <% if piece.necklace_style_1 == true %>
            Trendy
          <% end %>
          <% if piece.necklace_style_2 == true %>
            Classic
          <% end %>
          <% if piece.necklace_style_3 == true %>
            Statement
          <% end %>
        <td>
          <% if piece.silver == true %>
            Silver
          <% end %>
          <% if piece.gold == true %>
            Gold
          <% end %></td>
        <td><%= piece.price %></td>
        <td><%= piece.description %></td>
        <% if current_user.present?%>
        <td>
              <% favorite = Favorite.find_by(:piece_id => piece.id, :user_id => current_user.id) %>
              <% if favorite.present? %>
                <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-link">
                  <i class="fa fa-heart"></i>
                </a>
              <% else %>
              <form action="/create_favorite" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="piece_id" value="<%= piece.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>
              <% end %>
            </td>
          <%end%>
        <td>
          <a href="/pieces/<%= piece.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
