<div class="page-header">
  <h1>
  <small>
    Add and View Your Pieces...
  </small>
  </h1>
</div>

<li class="list-group-item">
      <form action="/create_piece" method="post" enctype="multipart/form-data">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @piece.title %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control" value="<%= @piece.image %>">
      </div>

      <!-- Label and input for designer_id -->

        <input id="designer_id" name="designer_id" type="hidden" value="<%= @designer.id %>">

            <!-- Label and input for Occassion -->
        Occassion
        <div class="checkbox">
          <label for="everyday">
            <input type="checkbox" id="everyday" name="everyday" value="1" <%= "checked" if @piece.everyday %>>
            Everyday
          </label>
          <label for="work">
            <input type="checkbox" id="work" name="work" value="1" <%= "checked" if @piece.work %>>
            Work
          </label>
          <label for="night">
            <input type="checkbox" id="night" name="night" value="1" <%= "checked" if @piece.night %>>
            Night
          </label>
        </div>

      <!-- Label and input for Style -->
      Style
      <div class="checkbox">
        <label for="necklace_style_1">
          <input type="checkbox" id="necklace_style_1" name="necklace_style_1" value="1" <%= "checked" if @piece.necklace_style_1 %>>
          Trendy
        </label>
        <label for="necklace_style_2">
          <input type="checkbox" id="necklace_style_2" name="necklace_style_2" value="1" <%= "checked" if @piece.necklace_style_2 %>>
          Classic
        </label>
        <label for="necklace_style_3">
          <input type="checkbox" id="necklace_style_3" name="necklace_style_3" value="1" <%= "checked" if @piece.necklace_style_3 %>>
          Statement
        </label>
        <label for="necklace_style_4">
          <input type="checkbox" id="necklace_style_4" name="necklace_style_4" value="1" <%= "checked" if @piece.necklace_style_4 %>>
          Simple
        </label>
      </div>

        <!-- Label and input for Metal -->
      Metal
      <div class="checkbox">
         <label for="gold">
          <input type="checkbox" id="gold" name="gold" value="1" <%= "checked" if @piece.gold %>>
          Gold
        </label>
        <label for="silver">
          <input type="checkbox" id="silver" name="silver" value="1" <%= "checked" if @piece.silver %>>
          Silver
        </label>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @piece.price %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @piece.description %></textarea>
      </div>

        <button class="btn btn-success btn-block">
          Create Piece
        </button>
      </form>
    </li>
    </li>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Occassion</th>
        <th>Style</th>
        <th>Metal</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @designer.pieces.each do |piece| %>
      <tr>
        <td><img src="<%= piece.image %>" width="100"></td>
        <td><%= piece.title %></td>
        <td>
          <% if piece.work == true %>
            Work
          <% end %>
          <% if piece.everyday == true %>
            Everyday
          <% end %>
          <% if piece.night == true %>
            Night
          <% end %></td>
        <td>
          <% if piece.necklace_style_1 == true %>
            Trendy
          <% end %>
          <% if piece.necklace_style_2 == true %>
            Classic
          <% end %>
          <% if piece.necklace_style_3 == true %>
            Statement
          <% end %>
        <td>
          <% if piece.silver == true %>
            Silver
          <% end %>
          <% if piece.gold == true %>
            Gold
          <% end %></td>
        <td><%= piece.price %></td>
        <td><%= piece.description %></td>
        <td>
          <a href="/pieces/<%= piece.id %>" class="btn btn-info">Show</a>
        </td>
        <td>
          <a href="/pieces/<%= piece.id %>/edit" class="btn btn-default">Edit</a>
        </td>
        <td>
          <a href="/delete_piece/<%= piece.id %>" class="btn btn-primary" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

